= render 'products/product-header.html.haml'
.breadcrumbs
  .breadcrumbs_list
    - breadcrumb :logout
    = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
= render 'products/sell-btn.html.haml'
%main.mypage.clearfix
  = render 'side'
  .mypage-content
    .logout-container
      .logout-container__form
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'logout-container__form--btn'

= render 'products/footer-banner.html.haml'
= render 'products/footer.html.haml'
