= render 'products/product-header.html.haml'
= render 'products/sell-btn.html.haml'
%main.mypage.clearfix
  = render 'side'
  = render 'content'
= render 'products/footer-banner.html.haml'
= render 'products/footer.html.haml'
