= render 'products/product-header.html.haml'
.breadcrumbs
  .breadcrumbs_list
    - breadcrumb :show
    = breadcrumbs separator: " #{content_tag(:i, '', :class=>'fa fa-angle-right')} "
= render 'products/sell-btn.html.haml'
%main.mypage.clearfix
  = render 'side'
  = render 'content'
= render 'products/footer-banner.html.haml'
= render 'products/footer.html.haml'
