.contents
  = render 'users/eachpage-header'       
  .login-mainContents
    .login-singleContent
      .login-singleContent__head 
        %p.message
          アカウントをお持ちでない方はこちら
        = link_to '/users/sign_up/index' do
          %input{type: "button",class: "login-registrationButton", value: "新規会員登録"}
      .login-singleContent__inner
        .login-singleContent__inner__form
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .loginForm--label
              = f.email_field :email,class: "loginInput", autofocus: true, autocomplete: "email", placeholder: "メールアドレス"
            .loginForm--label
              = f.password_field :password,class: "loginInput", autocomplete: "current-password", placeholder: "パスワード"
              = f.submit "ログイン", class: "login-button-red"
              %p.login-password パスワードをお忘れの方
  = render 'users/eachpage-footer'
  