= render 'products/product-header.html.haml'
= render 'products/sell-btn.html.haml'
%main.mypage.clearfix
  = render 'users/side'

  .userIdentificationContent
    .userIdetificationHeader
      %h2.identificationTitle 発送元・お届け先住所変更
    addressのedit 作れたら作る

= render 'products/footer-banner.html.haml'
= render 'products/footer.html.haml'
