.sellContents
  .sellContent
    .sellContent--head#title
      商品の情報を入力
  = form_for @product do |f|
    .sellContent
      = f.label "出品画像", class:"sellContent__form--label"
      %span{class:"form-require"} 必須
      .sellContent__form--guide
        最大10枚までアップロードできます
      #upload-container
        #items
          - @images.each do |image|
            .item
              = image_tag("#{image.image}") if image.image?
              .button-area
                = link_to '編集'
                = link_to '削除'

        = f.fields_for :images do |i|
          .form_upload#form_upload
            = i.file_field :image, class: "upload", accept:"image/*", required: "required", name: "images[image][]", id: "product_image", multiple: "multiple", selected: @product.images.ids
 
    .sellContent
      .sellContent__form
        .sellContent__form--label
          = f.label "商品名"
          %span{class:"form-require"} 必須
        = f.text_field :name, class:"input-default", placeholder: "商品名（必須40字まで）", required: "required", maxlength: "40"

      .sellContent__form
        .sellContent__form--label
          = f.label "商品の説明"
          %span{class:"form-require"} 必須
        = f.text_area :description, maxlength: "1000", class:"textarea-default", placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。",required: "required"
        .sellContent__form--error.error
          入力してください
          
    .sellContent
      .sellContent__select
        .sellContent__select__left
          商品の詳細
        .sellContent__select__right
          .sellContent__select__right__form
            .sellContent__select__right__form--label
              = f.label "カテゴリー"
              %span{class:"form-require"} 必須

            .select-wrap
              = f.select :category_id, options_from_collection_for_select(@product.category.root.siblings, :id, :name, selected: @product.category.root.id), {},{id:"edit_root_category"}
              %i.fa.fa-chevron-down
            
            .select-wrap
              = f.select :category_id, options_from_collection_for_select(@category.root.children, :id, :name, selected: @product.category.parent.id), {},{id:"edit_parent_category"}
              %i.fa.fa-chevron-down
              
            .select-wrap
              = f.select :category_id, options_from_collection_for_select(@product.category.siblings, :id, :name, selected: @product.category.id ), {},{ id:"edit_children_category", }
            

          .sellContent__select__right__form
            .sellContent__select__right__form--label
              = f.label "商品の状態"
              %span{class:"form-require"} 必須

            = f.select :condition, options_for_select({'新品、未使用': '新品、未使用','未使用に近い': '未使用に近い','目立った傷や汚れなし': '目立った傷や汚れなし','やや汚れや傷あり': 'やや汚れや傷あり','傷や汚れあり': '傷や汚れあり','全体的に状態が悪い': '全体的に状態が悪い'}, selected: @product.condition), {include_blank: '---' },{required:"required" }
            %i.fa.fa-chevron-down
            .sellContent__select__right__form--error.error
              選択してください

    .sellContent
      .sellContent__select
        .sellContent__select__left
          配送について
          =link_to '?'

        .sellContent__select__right
          .sellContent__select__right__form
            .sellContent__select__right__form--label
              = f.label "配送料の負担"
              %span{class:"form-require"} 必須
            = f.select :who_to_pay, options_for_select({'送料込み（出品者負担）': '送料込み（出品者負担）','着払い（購入者負担）': '着払い（購入者負担）'},selected: @product.who_to_pay ), {include_blank: '---' },{required:"required"}
            %i.fa.fa-chevron-down
            .sellContent__select__right__form--error.error
              選択してください

          .sellContent__select__right__form
            .sellContent__select__right__form--label
              = f.label "発送元の地域"
              %span{class:"form-require"} 必須
            
            = f.collection_select :origin_of_delivery, JpPrefecture::Prefecture.all, :code, :name,include_blank: true, required:"required"
            = fa_icon 'angle-down', class: "select-prefecture__scrollIcon"
            
            .sellContent__select__right__form--error.error
              選択してください

          .sellContent__select__right__form
            .sellContent__select__right__form--label
              = f.label "発送までの日数"
              %span{class:"form-require"} 必須
            = f.select :deliverying_date, options_for_select({'1~2日で発送': '1~2日で発送','2~3日で発送': '2~3日で発送','4~7日で発送': '4~7日で発送'}, selected: @product.deliverying_date), {include_blank: '---' },{required:"required"}
            %i.fa.fa-chevron-down
          .sellContent__select__right__form--error.error
            選択してください

    .sellContent
      .sellContent__select
        .sellContent__select__left
          販売価格(300〜9,999,999)
          = link_to '?'
        .sellContent__select__right
          .sellContent__select__right__priceForm
            .sellContent__select__right__priceForm__input
              .sellContent__select__right__priceForm--label
                = f.label "価格"
                %span{class:"form-require"} 必須
              .sellContent__select__right__priceForm--input
                %p ￥  
               
                = f.text_field :price, placeholder: "例）300", required:"required"
            .sellContent__select__right__priceForm--error#input_error
              300以上9999999以下で入力してください
          .sellContent__select__right__charge
            .sellContent__select__right__charge--left
              %p 販売手数料(10)％
            .sellContent__select__right__charge--right
              %p#charge 
                - charge =  (@product.price*0.1.to_f).floor
                = "¥" if @product.price?
                = (charge).to_s(:delimited)
          .sellContent__select__right__profitContent
            .sellContent__select__right__profitContent--left
              販売利益
            .sellContent__select__right__profitContent--right
              %p#profit 
                - profit = (@product.price.to_f) - charge
                = "¥" if @product.price?
                = (profit.floor).to_s(:delimited)
    .sellContent
      .button-wrapper
        = f.submit "編集する", {class:"red-button", id:"product-submit"}

      .button-wrapper.gray-button
        = link_to "戻る", root_path 
        
        
        


    