= render "product-header"
.product-details-body
  = render "show-item"

  .deleteWrapper
    .deleteWrapper_inner
      .deleteWrapper_inner_text.backRed
        = link_to "商品の編集",edit_product_path(@product),class: "linkClear centerText"
      .deleteWrapper_inner_box.textBlack
        .centerText or
      -# 応用実装？？
      .deleteWrapper_inner_text.backgray
        .centerText 出品を一旦停止する
      .deleteWrapper_inner_text.backgray 
        = link_to "この商品を削除する", product_path(@product),class: "linkClear", method: :delete
  = render "show-comment"
