.deleteWrapper
  .deleteWrapper_inner
    = image_tag "#{@image.image}",class: "imageSize"
    .deleteWrapper_inner_text
      = @image.product.name
    .deleteWrapper_inner_text.backRed
      = link_to "商品の編集",edit_product_path(@product),class: "linkClear centerText"
    .deleteWrapper_inner_text.textBlack
      .centerText or
    -# 応用実装？？
    -# .deleteWrapper_inner_text.backgray
    -#   .centerText 出品を一旦停止する
    .deleteWrapper_inner_text.backgray 
      = link_to "この商品を削除する", product_path(@product),class: "linkClear", method: :delete
