.wrapper
  =render "product-header"

  .main
    -# バナー
    .mainvisual
      .mainvisual-inner.container
        .swiper-container
          .swiper-wrapper
            = image_tag("http://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?376951604",class: "swiper-slide")
            %image.swiper-slide{src: "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg"}
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
    .bodyMain
      -# カテゴリー毎
      .bodyMain_pickup
        .bodyMain_pickup--title.link_blue ピックアップカテゴリー
        - @categories.each do |category|
          .bodyMain_pickup_cotegory.clearfix
            .bodyMain_pickup_cotegory_box
              .bodyMain_pickup_cotegory_box--title
                =link_to "#{category.name}新着アイテム",products_path,class:"category-title__link"
              .bodyMain_pickup_cotegory_box_items.clearfix
                - @products = Product.where(category_id: category.indirect_ids).limit(4)
                  - @products.each do |product|
                  .itemBox
                    =link_to product_path(product),  class:"itemBox_a" do
                      = image_tag("#{product.images.first.image}", width: '213', alt: "product_image",class:"itemBox--image")
                      .itemBox_ditails
                        .itemBox_ditails--name
                          ="#{product.name}"
                          .hide
                        .itemBox_ditails_num
                          .itemBox_ditails_num--price
                            ="¥#{product.price.to_s(:delimited)}"
                          -# likeなければ消す if文？？
                          .itemBox_ditails_num--like
                            %i.fa.fa-heart
                          -# ライク数挿入
                        .itemBox_ditails--tax
                          (税込)
              .viewAll
                =link_to "すべての商品を見る", products_path

      -# ブランド毎
      .bodyMain_pickup  
        .bodyMain_pickup--title.link_blue ピックアップブランド
        -# カテゴリー毎
        -# シャネル
        .bodyMain_pickup_cotegory.clearfix
          .bodyMain_pickup_cotegory_box
            .bodyMain_pickup_cotegory_box--title
              =link_to "シャネル新着アイテム",products_path,class:"category-title__link"
            .bodyMain_pickup_cotegory_box_items.clearfix
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
                      
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)

              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
            .viewAll
              =link_to "すべての商品を見る", products_path

          -# ルイヴィトン
        .bodyMain_pickup_cotegory.clearfix
          .bodyMain_pickup_cotegory_box
            .bodyMain_pickup_cotegory_box--title
              =link_to "ルイヴィトン新着アイテム",products_path,class:"category-title__link"
            .bodyMain_pickup_cotegory_box_items.clearfix
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
                      
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)

              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
            .viewAll
              =link_to "すべての商品を見る", products_path

            -# シュプリーム
        .bodyMain_pickup_cotegory.clearfix
          .bodyMain_pickup_cotegory_box
            .bodyMain_pickup_cotegory_box--title
              =link_to "シュプリーム新着アイテム",products_path,class:"category-title__link"
            .bodyMain_pickup_cotegory_box_items.clearfix
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
                      
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)

              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
            .viewAll
              =link_to "すべての商品を見る", products_path

            -# ナイキ
        .bodyMain_pickup_cotegory.clearfix
          .bodyMain_pickup_cotegory_box
            .bodyMain_pickup_cotegory_box--title
              =link_to "ナイキ新着アイテム",products_path,class:"category-title__link"
            .bodyMain_pickup_cotegory_box_items.clearfix
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
                      
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)

              .itemBox
                =link_to '#',  class:"itemBox_a" do
                  = image_tag("https://static.mercdn.net/item/detail/orig/photos/m52661381574_1.jpg?1557292712", width: '213', alt: "product_image",class:"itemBox--image")
                  .itemBox_ditails
                    .itemBox_ditails--name
                      feroux　カットソー　レッセパッセ　ミッシュマッシュ　アプワイザーリッシェ
                      .hide
                    .itemBox_ditails_num
                      .itemBox_ditails_num--price
                        ¥1,900
                      -# likeなければ消す if文？？
                      .itemBox_ditails_num--like
                        %i.fa.fa-heart
                      -# ライク数挿入
                    .itemBox_ditails--tax
                      (税込)
            .viewAll
              =link_to "すべての商品を見る", products_path

  = render 'sell-btn'
  = render 'footer-banner'
  = render 'footer'
