.wrapper
  =render "product-header"

  .main
    -# バナー
    .mainvisual
      .mainvisual-inner.container
        .swiper-container
          .swiper-wrapper
            .swiper-slide.one
              = image_tag("http://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?376951604",class: "swiper-slide-image camp")
            .swiper-slide.two
              %image.swiper-slide-image{src: "https://www.mercari.com/jp/assets/img/common/jp/top/banner-natsukashi.jpg"}
          .swiper-pagination
          .swiper-button-prev
          .swiper-button-next
    .bodyMain
      -# カテゴリー毎
      .bodyMain_pickup
        .bodyMain_pickup--title.link_blue ピックアップカテゴリー
        .bodyMain_pickup_cotegory.clearfix
          .bodyMain_pickup_cotegory_box
          .bodyMain_pickup_cotegory_box--title
            = link_to "#{@ladies.name}新着アイテム", "#", class: "category-title__link"
          - if @ladies_products.present?
            .bodyMain_pickup_cotegory_box_items.clearfix
              = render partial: 'product', collection: @ladies_products
            .viewAll
              =link_to "すべての商品を見る", products_path
          - else
            .no-item
              %p まだ出品されていません
        
          
          -# メンズの新着
          .bodyMain_pickup_cotegory_box--title
            = link_to "#{@mens.name}新着アイテム", "#", class: "category-title__link"
          - if @mens_products.present?
            .bodyMain_pickup_cotegory_box_items.clearfix
              = render partial: 'product', collection: @mens_products
            .viewAll
              =link_to "すべての商品を見る", products_path
          - else
            .no-item
              %p まだ出品されていません

            -# ベビーの新着
          .bodyMain_pickup_cotegory_box--title
            = link_to "#{@baby.name}新着アイテム", "#", class: "category-title__link"
          - if @baby_products.present?
            .bodyMain_pickup_cotegory_box_items.clearfix
              = render partial: 'product', collection: @baby_products
            .viewAll
              =link_to "すべての商品を見る", products_path
          - else
            .no-item
              %p まだ出品されていません

          -# コスメの新着
          .bodyMain_pickup_cotegory_box--title
            = link_to "#{@beauty.name}新着アイテム", "#", class: "category-title__link"
          - if @beauty_products.present?
            .bodyMain_pickup_cotegory_box_items.clearfix
              = render partial: 'product', collection: @beauty_products
            .viewAll
              =link_to "すべての商品を見る", products_path
          - else
            .no-item
              %p まだ出品されていません

  = render 'sell-btn'
  = render 'footer-banner'
  = render 'footer'
