= render 'product-header'
.breadcrumbs
  .breadcrumbs_list
    - breadcrumb :products_name
    = breadcrumbs separator: " #{content_tag(:i, '', class: 'fa fa-angle-right')} "
.product-details-body
  -# 上部の商品詳細コンテント
  = render "show-item"

  -#購入者コメント
  = render "show-comment"
  -#中部ページ切り替えコマンド
  .product-command-contents
    %ul.products-command
      %li.products-command__left
        %span アイシャドウ
        = fa_icon 'angle-left', class: 'angle-left-icon'
      %li.products-command__right
        %span KATE 3Dアイブロウカラー ソフトブラウン
        = fa_icon 'angle-right', class: 'angle-right-icon'
  -#中部SNSアイコン
  .product-sns-contents
    .product-sns-contents__block
      %ul.product-sns-contents__block__lists
        %li.product-sns-contents__block__lists__facebook
          = fa_icon 'facebook-square', class: 'sns-facebook-icon'
        %li.product-sns-contents__block__lists__twitter
          = fa_icon 'twitter-square', class: 'sns-twitter-icon'
        %li.product-sns-contents__block__lists__pinterest
          = fa_icon 'pinterest-square', class: 'sns-pinterest-icon'
  -#下部の関連商品リスト
  .related-products-contents
    -# 出品者関連商品
    .related-products-contents__seller
      %h2.related-seller
        きみさんのその他の出品
      %ul.related-photos
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 3,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                2
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics2.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 800
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                10
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "perfume.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              香水
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 1,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                20
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 3,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                2
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics2.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 800
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                10
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "perfume.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              香水
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 1,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                20
            %p.related-photos__box__description__tax (税込)
    -# ブランド関連商品
    .related-products-contents__brand
      %h2.related-brand
        LANCOMのリップ　その他の商品
      %ul.related-photos
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 3,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                2
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics2.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 800
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                10
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "perfume.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              香水
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 1,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                20
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 3,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                2
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "cosmetics2.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              コスメセット
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 800
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                10
            %p.related-photos__box__description__tax (税込)
        %li.related-photos__box
          .related-photos__box__photo
            =image_tag "perfume.jpg", class: 'photo-size'
          .related-photos__box__description
            .related-photos__box__description__top
              香水
            .related-photos__box__description__bottom
              .related-photos__box__description__bottom__price
                ¥ 1,500
              .related-photos__box__description__bottom__likes
                = fa_icon 'heart-o', class: 'heart-icon'
                20
            %p.related-photos__box__description__tax (税込)

= render 'footer-banner'
= render 'footer'
